@font-face {
    font-family: 'Lment-v02';
    src: url('Lment-v02.woff2') format('woff2'),
        url('Lment-v02.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

